# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn

## API
#gcsfs
#google-cloud-storage
#mlflow
#s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

# API
fastapi         # API framework
pytz            # time zone management
uvicorn         # web server
# tests
httpx           # HTTP client
# pytest-asyncio  # asynchronous I/O support for pytest
